@use "../abstracts/variables" as *;

.home-page-container {
  .sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: $off-white;
    .text {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 16px;
      @media only screen and (max-width: 800px) {
        p {
          br {
            display: none;
          }
        }
      }
      @media only screen and (max-width: 400px) {
        h2 {
          br {
            display: none;
          }
        }
      }
    }
  }
}
